@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.3058823529);
  position: sticky;
  top: 0;
  z-index: 2020;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
nav .navergacion, nav .ciudades {
  display: none;
}
nav .div-menu .btn-menu {
  padding: 6px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: var(--gradiente-rojo);
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
}
header .div-detalles-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 50px;
  color: var(--color-primario);
  border-radius: var(--border-radius-primario);
  position: absolute;
  font-size: 1.1rem;
  max-width: 500px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
header .div-detalles-banner p {
  text-align: center;
}
header .div-detalles-banner div span {
  padding: 6px;
  border-radius: var(--border-radius-secundario);
  background-color: rgba(75, 85, 99, 0.4235294118);
  font-size: 0.8rem;
}
header .div-btn-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 0 12px 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
header .div-btn-banner .btn-comprar {
  padding: 10px 15px;
  color: var(--color-primario);
  background: var(--gradiente-rojo);
  border: none;
  border-radius: 15px;
  font-size: 0.7rem;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.493);
  transition: all 0.3s ease-in-out;
}
header .div-btn-banner .btn-trailer {
  padding: 10px 15px;
  color: var(--color-primario);
  background-color: rgba(255, 255, 255, 0.064);
  border: none;
  border-radius: 15px;
  font-size: 0.7rem;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.493);
  transition: all 0.3s ease-in-out;
}
header .div-btn-banner .btn-comprar:hover, header .div-btn-banner .btn-trailer:hover {
  transform: scale(1.1);
}
header .div-btn-banner .btn-comprar:active, header .div-btn-banner .btn-trailer:active {
  transform: scale(0.98);
}

header:hover img {
  filter: opacity(0.5);
  transition: all 0.5s ease-in-out;
}
header:hover .div-btn-banner {
  opacity: 1;
}

main .section-acceso-rapido, main .section-cartelera, main .section-preventa, main .section-estrenos, main .section-promociones {
  padding: 70px 30px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--color-primario);
}
main .section-acceso-rapido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main .section-acceso-rapido .div-tarjetas-acceso {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  justify-items: center;
  gap: 30px;
  width: 100%;
}
main .section-acceso-rapido .div-tarjetas-acceso .card-acceso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: var(--border-radius-secundario);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
main .section-acceso-rapido .div-tarjetas-acceso .card-acceso .fondo-card-acceso {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  filter: opacity(0.1);
}
main .section-acceso-rapido .div-tarjetas-acceso .card-acceso div {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 5px;
  position: absolute;
}
main .section-acceso-rapido .div-tarjetas-acceso .card-acceso div p {
  color: #D1D5DB;
  font-size: 0.8rem;
}
main .section-acceso-rapido .div-tarjetas-acceso .card-acceso:hover {
  transform: scale(1.1) rotate(2deg);
}
main .section-acceso-rapido .div-tarjetas-acceso .card-acceso:hover .fondo-card-acceso {
  transition: all 0.9s ease-in-out;
  filter: opacity(0.5);
}
main .section-acceso-rapido .div-tarjetas-acceso .card-acceso:hover div img {
  animation: saltoaccesorapido 1s infinite alternate ease-in-out;
}
main .section-acceso-rapido .div-tarjetas-acceso .cines {
  background: linear-gradient(to right, rgba(198, 40, 40, 0.4039215686), rgba(127, 0, 0, 0.4039215686));
}
main .section-acceso-rapido .div-tarjetas-acceso .cartelera {
  background: linear-gradient(to right, rgba(25, 118, 210, 0.4039215686), rgba(13, 71, 161, 0.4039215686));
}
main .section-acceso-rapido .div-tarjetas-acceso .carameleria {
  background: linear-gradient(to right, rgba(255, 193, 7, 0.4039215686), rgba(255, 143, 0, 0.4039215686));
}
main .section-acceso-rapido .div-tarjetas-acceso .preventas {
  background: linear-gradient(to right, rgba(251, 140, 0, 0.4039215686), rgba(230, 81, 0, 0.4039215686));
}
main .section-cartelera .div-btn-categorias {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
main .section-cartelera .div-btn-categorias .btn-categorias {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}
main .section-cartelera .div-btn-categorias .btn-categorias button {
  padding: 10px 25px;
  color: var(--color-primario);
  background-color: rgba(31, 41, 55, 0.5019607843);
  border-radius: var(--border-radius-primario);
  white-space: nowrap;
  font-weight: bold;
}
main .section-cartelera .div-btn-categorias .btn-categorias .btn-seleccionado {
  background: var(--gradiente-rojo);
}
main .section-cartelera .div-btn-categorias .btn-categorias button:hover {
  background-color: #262f3e;
}
main .section-cartelera .div-categorias .div-card-categorias .card-cartelera .card-filtro-hover .div-card-bottom .card-horarios {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
main .section-cartelera .div-categorias .div-card-categorias .card-cartelera .card-filtro-hover .div-card-bottom .card-horarios span {
  padding: 4px 8px;
  background-color: rgba(75, 85, 99, 0.4235294118);
  border-radius: var(--border-radius-secundario);
  font-size: 0.7rem;
}
main .section-cartelera .div-categorias .div-card-categorias .div-card-categoria-hover button {
  background: var(--gradiente-rojo);
  font-weight: bold;
}
main .section-cartelera .div-categorias .div-card-categorias .div-card-categoria-hover button:hover {
  background: var(--gradiente-rojo-transparente);
}
main .section-cartelera .div-categorias .div-card-categorias .card-cartelera:hover {
  box-shadow: 0px 0px 10px rgba(255, 123, 123, 0.7058823529);
}
main .section-cartelera .div-ver-mas .btn-ver-mas {
  background: var(--gradiente-rojo);
}
main .section-preventa .div-categorias .div-card-categorias .card-cartelera .card-filtro-hover .div-card-bottom .div-estreno {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
}
main .section-preventa .div-categorias .div-card-categorias .card-cartelera .card-filtro-hover .div-card-bottom .div-fecha-preventa {
  color: #fbbf24;
  font-size: 0.9rem;
}
main .section-preventa .div-categorias .div-card-categorias .div-card-categoria-hover button {
  color: var(--color-secundario);
  background: var(--gradiente-amarillo);
  font-weight: bold;
}
main .section-preventa .div-categorias .div-card-categorias .div-card-categoria-hover button:hover {
  background: var(--gradiente-amarillo-transparente);
}
main .section-preventa .div-categorias .div-card-categorias .card-cartelera:hover {
  box-shadow: 0px 0px 10px rgba(251, 191, 36, 0.7058823529);
}
main .section-preventa .div-ver-mas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
}
main .section-preventa .div-ver-mas .btn-ver-mas {
  color: var(--color-secundario);
  background: var(--gradiente-amarillo);
}
main .section-estrenos .div-categorias .div-card-categorias .card-cartelera .card-filtro-hover .div-card-bottom .div-estreno {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
}
main .section-estrenos .div-categorias .div-card-categorias .div-card-categoria-hover button {
  background: var(--gradiente-azul);
  font-weight: bold;
}
main .section-estrenos .div-categorias .div-card-categorias .div-card-categoria-hover button:hover {
  background: var(--gradiente-azul-trasparente);
}
main .section-estrenos .div-categorias .div-card-categorias .card-cartelera:hover {
  box-shadow: 0px 0px 10px rgba(70, 130, 180, 0.7058823529);
}
main .section-estrenos .div-ver-mas .btn-ver-mas {
  background: var(--gradiente-azul);
}
main .section-promociones {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
main .section-promociones .div-card-promos {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 30px;
}
main .section-promociones .div-card-promos .card-promos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  gap: 15px;
  padding: 20px;
  border-radius: var(--border-radius-secundario);
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.238);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
main .section-promociones .div-card-promos .card-promos .circulo-derecho, main .section-promociones .div-card-promos .card-promos .circulo-izquierda {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1411764706);
  position: absolute;
  width: 80px;
  height: 80px;
}
main .section-promociones .div-card-promos .card-promos .circulo-derecho {
  top: -30px;
  right: -30px;
}
main .section-promociones .div-card-promos .card-promos .circulo-izquierda {
  bottom: -30px;
  left: -30px;
}
main .section-promociones .div-card-promos .card-promos .descuentos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0;
  z-index: 1;
}
main .section-promociones .div-card-promos .card-promos .descuentos span {
  border-radius: var(--border-radius-primario);
  padding: 6px 12px;
  background-color: rgba(210, 210, 210, 0.2588235294);
  font-size: 0.8rem;
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.238);
}
main .section-promociones .div-card-promos .card-promos .titulo-info-promo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3568627451);
  padding-bottom: 10px;
}
main .section-promociones .div-card-promos .card-promos .titulo-info-promo p {
  font-size: 0.8rem;
}
main .section-promociones .div-card-promos .card-promos .ver-detalles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .section-promociones .div-card-promos .card-promos .ver-detalles p {
  font-size: 0.8rem;
}
main .section-promociones .div-card-promos .card-promos .ver-detalles button {
  color: var(--color-primario);
  background-color: rgba(210, 210, 210, 0.2588235294);
  padding: 10px;
  border-radius: var(--border-radius-primario);
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.238);
  width: 100%;
  text-align: center;
  font-weight: bold;
}
main .section-promociones .div-card-promos .card-promos .ver-detalles button:hover {
  background-color: rgba(210, 210, 210, 0.5607843137);
}
main .section-promociones .div-card-promos .card-promos:hover {
  transform: scale(1.05);
}
main .section-promociones .div-card-promos .lunes-popular {
  background: var(--gradiente-rojo);
}
main .section-promociones .div-card-promos .estudiantes {
  background: var(--gradiente-azul);
}
main .section-promociones .div-card-promos .miercoles-para-ti {
  background: var(--gradiente-amarillo);
}
main .section-promociones .div-card-promos .adulto-mayor {
  background: var(--gradiente-naranja);
}
main .section-promociones .div-ver-mas .btn-ver-mas {
  color: var(--color-secundario);
  background-color: var(--color-primario);
}
main .section-informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: var(--color-primario);
  background: linear-gradient(to bottom, #0f172a, #2a3139);
  padding: 70px 30px;
}
main .section-informacion .div-descarga-app {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .section-informacion .div-descarga-app .div-descargas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main .section-informacion .div-descarga-app .div-descargas a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-primario);
  background-color: var(--color-secundario);
  padding: 20px 30px;
  border-radius: var(--border-radius-secundario);
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.238);
  transition: all 0.3s ease-out;
}
main .section-informacion .div-descarga-app .div-descargas a img {
  position: relative;
}
main .section-informacion .div-descarga-app .div-descargas a div .descarga-en {
  color: var(--color-terciario);
  font-size: 0.75rem;
}
main .section-informacion .div-descarga-app .div-descargas a div .descarga-store {
  font-weight: bold;
}
main .section-informacion .div-descarga-app .div-descargas a:hover img {
  animation: salto 1s infinite alternate ease-in-out;
}
main .section-informacion .div-descarga-app .div-descargas a:hover {
  transform: scale(1.1);
}
main .section-informacion .div-descarga-app .div-descargas a:active {
  transform: scale(0.98);
}
main .section-informacion .div-descarga-app .lista-descarga-info {
  color: var(--color-terciario);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  font-size: 0.85rem;
}
main .section-informacion .div-suscribirse {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .section-informacion .div-suscribirse .div-suscribete-aqui {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .section-informacion .div-suscribirse .div-suscribete-aqui input {
  color: var(--color-primario);
  background-color: rgba(0, 0, 0, 0.3215686275);
  padding: 16px;
  border: 1px solid rgba(156, 163, 175, 0.3254901961);
  border-radius: 8px;
}
main .section-informacion .div-suscribirse .div-suscribete-aqui button {
  color: var(--color-primario);
  background: var(--gradiente-rojo);
  padding: 16px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
main .section-informacion .div-suscribirse .div-suscribete-aqui button:hover {
  background: var(--gradiente-rojo-transparente);
  transform: scale(1.02);
}
main .section-informacion .div-suscribirse .div-suscribete-aqui button:active {
  transform: scale(0.98);
}
main .div-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
main .div-titulo h2 {
  font-weight: 900;
  font-size: 1.9rem;
}
main .div-titulo p {
  color: #D1D5DB;
}
main .div-categorias {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
main .div-categorias .div-card-categorias {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}
main .div-categorias .div-card-categorias .card-cartelera {
  border-radius: var(--border-radius-secundario);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  overflow: hidden;
  width: 220px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.238);
  transition: all 0.3s ease-in-out;
  position: relative;
}
main .div-categorias .div-card-categorias .card-cartelera .card-filtro-hover {
  background-color: #1F2937;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
main .div-categorias .div-card-categorias .card-cartelera .card-filtro-hover .div-card-bottom {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .div-categorias .div-card-categorias .card-cartelera .card-filtro-hover .div-card-bottom .card-duracion {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: var(--color-terciario);
  font-size: 0.8rem;
}
main .div-categorias .div-card-categorias .div-card-categoria-hover {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
main .div-categorias .div-card-categorias .div-card-categoria-hover p {
  color: var(--color-terciario);
  text-align: justify;
  font-size: 0.8rem;
}
main .div-categorias .div-card-categorias .div-card-categoria-hover button {
  color: var(--color-primario);
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}
main .div-categorias .div-card-categorias .card-cartelera:hover {
  transform: scale(1.05);
}
main .div-categorias .div-card-categorias .card-cartelera:hover .card-filtro-hover {
  filter: brightness(0.1);
}
main .div-categorias .div-card-categorias .card-cartelera:hover .div-card-categoria-hover {
  opacity: 1;
}
main .div-ver-mas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
}
main .div-ver-mas .btn-ver-mas {
  color: var(--color-primario);
  padding: 15px;
  border-radius: var(--border-radius-primario);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
main .div-ver-mas .btn-ver-mas:hover {
  transform: scale(1.1);
}
main .div-ver-mas .btn-ver-mas:active {
  transform: scale(0.98);
}

@keyframes salto {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes saltoaccesorapido {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-5px) rotate(4deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-primario);
  background: linear-gradient(15deg, #723e7b 3%, #9b2352 97%);
  padding: 20px;
}
footer .section-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .section-top .div-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
footer .section-top .div-navegacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
footer .section-top .div-navegacion div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .section-top .div-navegacion div ul {
  padding: 0 20px;
  font-size: 0.85rem;
}
footer .section-descarga {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2549019608);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2549019608);
}
footer .section-descarga .titulo-descarga {
  text-align: center;
}
footer .section-descarga .titulo-descarga p {
  font-size: 0.85rem;
}
footer .section-descarga .btn-descarga-footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
footer .section-descarga .btn-descarga-footer a {
  background-color: var(--color-secundario);
  padding: 15px 30px;
  border: 0;
  border-radius: 10px;
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.238);
}
footer .section-descarga .btn-descarga-footer a .descarga {
  font-size: 0.8rem;
}
footer .section-descarga .btn-descarga-footer a .tienda {
  font-size: 0.85rem;
}
footer .section-descarga .btn-descarga-footer a:hover {
  background-color: rgba(0, 0, 0, 0.7529411765);
}
footer .section-terminos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 0.8rem;
}
footer .section-terminos .div-terminos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .section-terminos .redes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media only screen and (min-width: 992px) {
  nav .navergacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--color-primario);
  }
  nav .navergacion a {
    transition: all 0.3s linear;
  }
  nav .navergacion a:hover {
    transform: scale(1.1);
  }
  nav .navergacion a:hover span {
    width: 100%;
  }
  nav .ciudades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  nav .ciudades select {
    color: var(--color-primario);
    background-color: #c62828;
    padding: 6px 30px 6px 8px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
  }
  nav .ciudades select option {
    color: var(--color-secundario);
    background-color: var(--color-primario);
  }
  nav .ciudades select:focus {
    outline: none;
  }
  nav .div-menu {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header:hover .div-detalles-banner {
    opacity: 1;
  }
}
@media only screen and (min-width: 992px) {
  header {
    padding: 0;
    margin: 50px 50px 0 50px;
    border-radius: var(--border-radius-primario);
    overflow: hidden;
  }
}
@media only screen and (min-width: 600px) {
  main .section-acceso-rapido .div-tarjetas-acceso {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: 30px;
  }
  main .section-informacion .div-descarga-app .div-descargas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  main .section-informacion .div-suscribirse .div-suscribete-aqui {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  main .section-informacion .div-suscribirse .div-suscribete-aqui button {
    padding: 16px 80px;
  }
  main .section-promociones .div-card-promos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 30px;
  }
}
@media only screen and (min-width: 992px) {
  main .section-acceso-rapido .div-tarjetas-acceso {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: 30px;
  }
  main .div-categorias .div-card-categorias .card-cartelera {
    width: 250px;
  }
  main .section-promociones .div-card-promos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 30px;
  }
}
@media only screen and (min-width: 768px) {
  footer .section-top {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 40px;
  }
  footer .section-top .div-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  footer .section-top .div-navegacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  footer .section-descarga {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  footer .section-terminos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
}
:root {
  --color-primario: #fff;
  --color-secundario: #000;
  --color-terciario: #9CA3AF;
  --gradiente-rojo: linear-gradient(to right, #c62828, #7f0000);
  --gradiente-rojo-transparente: linear-gradient(to right, #c62828e4, #7f0000e4);
  --gradiente-azul: linear-gradient(to right, #1976D2, #0D47A1);
  --gradiente-azul-trasparente: linear-gradient(to right, #1976D2e4, #0D47A1e4);
  --gradiente-amarillo: linear-gradient(to right, #FFC107, #FF8F00);
  --gradiente-amarillo-transparente: linear-gradient(to right, #FFC107e4, #FF8F00e4);
  --gradiente-naranja: linear-gradient(to right, #FB8C00, #E65100);
  --border-radius-primario: 20px;
  --border-radius-secundario: 10px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: linear-gradient(to bottom, #111827, #0f172a);
}

::-webkit-scrollbar {
  width: 8px;
  background: linear-gradient(120deg, #111827, #0f172a);
}

::-webkit-scrollbar-thumb {
  background-color: #9b2352;
  border-radius: 5px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}/*# sourceMappingURL=styles.css.map */