@import "./components/_general"
@import "./components/_nav"
@import "./components/_header"
@import "./components/_main"
@import "./components/_footer"
@import "./components/responsive/_navresponsive"
@import "./components/responsive/_headerresponsive"
@import "./components/responsive/_mainresponsive"
@import "./components/responsive/_footerresponsive"

:root
  --color-primario: #fff
  --color-secundario: #000
  --color-terciario: #9CA3AF
  --gradiente-rojo: linear-gradient(to right, #c62828, #7f0000)
  --gradiente-rojo-transparente: linear-gradient(to right, #c62828e4, #7f0000e4)
  --gradiente-azul: linear-gradient(to right, #1976D2, #0D47A1)
  --gradiente-azul-trasparente: linear-gradient(to right, #1976D2e4, #0D47A1e4)
  --gradiente-amarillo: linear-gradient(to right, #FFC107, #FF8F00)
  --gradiente-amarillo-transparente: linear-gradient(to right, #FFC107e4, #FF8F00e4)
  --gradiente-naranja: linear-gradient(to right, #FB8C00, #E65100)
  --border-radius-primario: 20px
  --border-radius-secundario: 10px

*
  padding: 0
  margin: 0
  font-family: 'Inter', system-ui, -apple-system, sans-seri

body
  background: linear-gradient(to bottom, #111827, #0f172a)

::-webkit-scrollbar
  width: 8px
  background: linear-gradient(120deg, #111827, #0f172a)

::-webkit-scrollbar-thumb
  background-color: #9b2352
  border-radius: 5px

button
  border: none
  background-color: transparent
  cursor: pointer

a
  text-decoration: none
  color: inherit
  cursor: pointer

.no-scrollbar::-webkit-scrollbar
  display: none

.no-scrollbar
  scrollbar-width: none