@media only screen and (min-width: 768px)
  header:hover
    .div-detalles-banner
      opacity: 1

@media only screen and (min-width: 992px)
  header
    @include espaciado(0, 50px 50px 0 50px)
    @include border(null, var(--border-radius-primario))
    overflow: hidden
