@media only screen and (min-width: 768px)
  header
    @include espaciado(0, 50px 50px 0 50px)
    @include border(null, var(--border-radius-primario))
    overflow: hidden
    .div-btn-banner
      .btn-comprar, .btn-trailer
        font-size: 1rem
    .div-izquierda, .div-derecha
      width: 150px
      height: 150px
    .div-izquierda
      top: -75px
      left: -75px
    .div-derecha
      bottom: -75px
      right: -75px
  header:hover
    .div-detalles-banner
      opacity: 1
    img
      filter: brightness(0.5)
    .publicidad
      animation: movimiento-deg 1.5s infinite alternate ease-in-out


@media only screen and (min-width: 992px)
  header
    .publicidad
      display: block

