header
  @include flex(row, flex-end, center)
  @include aplicar-colores(null, var(--color-primario), null)
  position: relative
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.636)
  img
    filter: brightness(0.7)
  .publicidad
    @include aplicar-colores(var(--color-primario), null, linear-gradient(15deg, #723e7b88 3%, #9b235188 97%))
    @include espaciado(10px, 35px 15px)
    @include border(null, var(--border-radius-secundario))
    display: none
    position: absolute
    top: 0
    right: 0
    z-index: 2
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.493)
    transform: rotate(20deg)
    font-size: .8rem
  .div-detalles-banner
    @include flex(column, null, center, 10px)
    @include aplicar-colores(var(--color-secundario), null, null)
    @include border(null, var(--border-radius-primario))
    @include espaciado(0 32px 0 0,null)
    position: absolute
    font-size: 1.2rem
    opacity: 1
    transition: all 0.3s ease-in-out
    .titulo
      width: 180px
    .horarios-banner
      display: none
      span
        @include espaciado(6px, null)
        @include border(null, var(--border-radius-secundario))
        @include aplicar-colores(var(--color-primario), #4b556397, null)
        font-size: .8rem
    .banner-btn
      @include flex(row, null, center, 15px)
      .comprar-boleto, .trailer
        @include aplicar-colores(var(--color-primario), null, null)
        @include espaciado(8px, null)
        @include border(null, var(--border-radius-primario))
        font-size: .6rem
        transition: all 0.3s ease-in-out
      .comprar-boleto
        @include aplicar-colores(null, null, var(--gradiente-rojo))
      .trailer
        @include aplicar-colores(null, null, var(--gradiente-azul))
      .comprar-boleto:hover, .trailer:hover
        transform: scale(1.1)
      .comprar-boleto:active, .trailer:active
        transform: scale(0.98)

@keyframes movimiento-deg
  0%
    transform: rotate(20deg)
  50%
    transform: rotate(25deg)
  100%
    transform: rotate(20deg)